*{
	font-family: 'Merriweather', '微軟正黑體',serif;
}
body{
	background-image: url("pics/bg.jpg");
	min-height: 100%;
	overflow-y: scroll;
	background-attachment: fixed;
	background-size: cover;
	padding-top:  60px;
}
.panel-body{
	margin-top: 60px;
	margin-bottom: 60px;
}
.panel, .list-group-item{
	background-color:rgba(255, 255, 255, 0.8);
}
/* ---------about--------- */
.about-title{
	display: none;
}
.photo img{
	border-radius: 50%;
	width: 100%;
}

.name{
	font-size: 32px;
	text-align: center;
	color: #6FB791;
}
.description{
	text-align: center;
}
.fa{
	color: #6FB791;
}
.fa:hover,.fa:focus{
	color:#99CEB2;
}
.ex-h2{
	color: #6FB791;

}
.ex-h3{
	margin-bottom: 20px;
}

/* ---------works--------- */
.title{
	font-size: 32px;
	color: #6FB791;
	text-align: center;
}

/* ---------nav--------- */
.list-group-item.active{
	background-color: #6FB791;
	border-color: #67A785;
}
.list-group-item.active:hover,.list-group-item.active:focus{
	background-color: #99CEB2;
	border-color: #6FB791;
}